<section class="section__header">
    <a class="logotype" href="/"><img src="~/images/logotype.png" alt="CoreFitness"></a>
    <nav class="main-menu">
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-item-link" asp-action="Index" asp-controller="FitnessCenters">Fitness Centers</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-action="Index" asp-controller="Memberships">Memberships</a>
            </li>
            <li class="menu-item menu-dropdown">
                <a class="menu-item-link" asp-action="Index" asp-controller="Training">Training</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-action="Index" asp-controller="CustomerService">Customer Service</a>
            </li>
        </ul>
    </nav>
    <nav class="account-menu">
        <ul class="menu">
            @if (User.Identity?.IsAuthenticated == true)
            {
                @if (User.IsInRole("Admin"))
                {
                    <li class="menu-item">
                        <a class="menu-item-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin Center</a>
                    </li>
                }

                <li class="menu-item">
                    <a class="btn btn-accent" asp-area="Account" asp-controller="Account" asp-action="Index">My Account</a>
                </li>
            }
            else
            {
                <li class="menu-item">
                    <a class="menu-item-link" asp-area="Authentication" asp-controller="SignUp" asp-action="SignUp">Become Member</a>
                </li>
                <li class="menu-item">
                    <a class="btn btn-accent" asp-area="Authentication" asp-controller="SignIn" asp-action="Index">Sign In</a>
                </li>
            }
        </ul>
    </nav>
</section>