.admin-layout {
    display: grid;
    column-gap: 2rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "header header" "aside main";
    height: 100dvh;

    header {
        grid-area: header;
    }

    aside {
        grid-area: aside;
        padding: 3rem 1rem;
    }

    main {
        grid-area: main;
        padding: 1rem 1rem;
    }
}

header {
    padding: 1rem;
    border-radius: 0;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;
    background-size: 100%;
    color: var(--header-text-color);
    padding: 1rem 2rem 1rem;


    .main-menu {
        display: none;
        justify-content: center;

        @media (width >= 1200px) {
            display: flex;
        }
    }

    .account-menu {
        display: none;
        justify-content: flex-end;

        .menu-item-link {
            display: none;

            @media (width >= 1600px) {
                display: inline-block;
            }
        }

        @media (width >= 768px) {
            display: flex;
        }
    }

    .mobile-btn {
        display: inline-block;

        @media (width >= 1200px) {
            display: none;
        }
    }
}

.options-menu {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    .options-menu-title {
        background-color: var(--theme-color);
        padding: 1rem;
        font-weight: 600;
        color: var(--dark-color);
    }

    .options {
        list-style: none;
        padding-inline: 0.5rem;
        margin: 0;

        .option-title {
            margin-top: 2rem;
            padding: 1rem 1rem 0.5rem;
            font-size: 0.9rem;
            color: var(--gray-color);
            border-bottom: 1px solid var(--gray-color);

            &:first-child {
                margin: 0;
            }
        }

        .option-item {
            padding: 1rem 1.5rem;
            text-decoration: none;
            font-weight: 500;
            color: var(--dark-color);
            position: relative;
            transition: background-color 0.3s ease;

            &:last-child {
                border: none;
            }

            &:hover {
                background-color: var(--light-gray-color);
                cursor: pointer;
            }
        }

            .option-item a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                text-decoration: none;
                color: inherit;

                &::after {
                    content: "\f054";
                    font-family: var(--font-fa);
                    font-weight: 900;
                    font-size: 1rem;
                }
            }
    }
}
