@model SignUpForm
@{
    ViewData["Title"] = "Become a Member";
}

<section class="_auth">
    <div class="title">
        <h1>Become a Member</h1>
        <p class="description">Sign up to continue your fitness journey with full access to your customized program, training history, and progress tracking. Stay consistent, monitor your development, and keep moving forward with the structure and support built into your account.</p>
    </div>

    <hr />

    <form method="post" asp-area="Authentication" asp-controller="SignUp" asp-action="SignUp" novalidate>
        @Html.AntiForgeryToken()

        <div data-type="email" class="form-group">
            <label class="form-label" asp-for="Email"></label>
            <input class="form-input" asp-for="Email" />
            <span class="form-field-validation" asp-validation-for="Email"></span>
        </div>

        <button class="btn" type="submit">Continue</button>

        <div data-type="terms" class="form-group form-checkbox-group">
            <input class="form-input" asp-for="TermsAndConditions" />
            <label class="form-label" asp-for="TermsAndConditions"></label>
            <span class="form-field-validation" asp-validation-for="TermsAndConditions"></span>
        </div>

        <div class="form-errormessage">
            <span class="field-validation-error" asp-validation-for="ErrorMessage"></span>
        </div>

    </form>
</section>